= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :permalink
    = f.text_field :permalink
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :language
    = f.text_field :language
  .field
    = f.label :published
    = f.check_box :published
  .field
    = f.label :menu_id
    = f.number_field :menu_id
  .field
    = f.label :gallery_id
    = f.number_field :gallery_id
  .actions
    = f.submit 'Save'
